ReduceFlicker-src/*
avisynth/archives/*
avisynth/src/Debug/*
avisynth/src/Release/*
avisynth/src/x64/*
vapoursynth/vs2015/Debug/*
vapoursynth/vs2015/Release/*
vapoursynth/vs2015/x64/*
build/
build*/
dist/
wheelhouse/
__pycache__/
.mesonpy-*/
*.dll
*.so
*.dylib
*.avs
*.avsi
*.vpy
*.sln
*.opensdf
*.db
*.opendb
*.filters
*.sdf
*.suo
*.user
*.zip
